# Python 虚拟环境
.venv/
venv/

# Python 编译文件
__pycache__/
*.py[cod]
*.so

# 编辑器/系统缓存
.idea/
.vscode/
.DS_Store

# ==========================================
# 核心数据文件（绝对不能上传到 GitHub）
# ==========================================
data/*.db
data/*.sqlite